transformers>=4.40.0
accelerate>=0.29.0
datasets
peft
bitsandbytes
pytorch-metric-learning
safetensors
tokenizers
sentencepiece
comet_ml
python-dotenv
tqdm
pyyaml
protobuf
kaggle
scikit-learn
pandas
numpy
matplotlib
seaborn